{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
{#<body style="background-image: url('{% static "img/background.jpg" %}')">#}
<body>
    <div style="padding: 16px">
    <h1 style="color: black;margin-left: 80px;margin-bottom: 32px;font-family: 微软雅黑">人员管理页面</h1>
        <div class="row col-lg-8" style="margin-bottom: 32px">
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">点击搜索</button>
                      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#add" style="margin-left: 32px">
                          添加人员
                      </button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
        </div>

        <!-- Button trigger modal -->
        <div class="row col-lg-6">
            <table class="table table-hover table-bordered ">
                <tr>
                    <td>序号</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>电话号码</td>
                    <td>邮箱</td>
                    <td>操作</td>
                </tr>
            {% for u in userList %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.sex }}</td>
                    <td>{{ u.phoneNumber }}</td>
                    <td>{{ u.email }}</td>
                    <td>
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
                          编辑
                      </button>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                          删除
                      </button>

                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>


<!-- Modal add-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addModalLabel">新增</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <div class="form-group">
                 <label >姓名</label>
                 <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="姓名">
             </div>
             <div class="form-group">
                 <label >性别</label>
                 <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="性别">
             </div>
           <div class="form-group">
                 <label >电话号码</label>
                 <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="电话号码">
             </div>
            <div class="form-group">
                 <label >邮箱</label>
                 <input type="text" name="txt_departmentname" class="form-control" id="txt_departmentname" placeholder="邮箱">
             </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>
    </div>


</body>
</html>
